body{
    width: 80%;
    background: linear-gradient(#055695, #580482 );
    color: white;
}

img{
    border-radius: 50%;
}

table{
    margin: 20px;
    padding: 50px;
    background-color: black;
    border-radius: 30px;
    
}

td, th{
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-bottom: 1px solid #ddd;
}